<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Spring Boot Vue3</title>
<!--    <script src="https://unpkg.com/vue@next"></script>-->
<!--    <script src="https://unpkg.com/vue@3.2.31"></script>-->

    <!-- 导入样式 -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="//unpkg.com/vue@next"></script>
    <!-- 导入组件库 -->
    <script src="//unpkg.com/element-plus"></script>

    <script src="../js/index.js"></script>
    <script src="../js/main.js"></script>


</head>
<body>
<div id="app">
    <h1>{{ message }}</h1>

    <el-row class="mb-4">
        <el-button>Default</el-button>
    </el-row>
</div>
<!-- Mount App -->
<!--<script>-->
<!--    Vue.createApp(HelloVueApp).mount('#app')-->
<!--</script>-->
</body>
</html>