<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengwenyi.springboot.mybatis.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.fengwenyi.springboot.mybatis.entity.UserEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        SELECT
            id, name, age
        FROM
            user
        WHERE
            id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="save" parameterType="UserEntity">
        insert into t_user(name, age) values(#{name}, #{age})
    </insert>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from t_user
    </select>

    <select id="pageByInterceptor" resultMap="BaseResultMap">
        select * from t_user
    </select>
</mapper>